.listeh1 
{
font-family:verdana;
text-align:center;
font-size:18px;
}
#outputbox
{
text-align:center;
}
.listea
{
color:red;
text-align:center;
list-style-type:none
}
.listeb
{
color:blue;
text-align:center;
list-style-type:none
}
.listec
{
color:green;
text-align:center;
list-style-type:none
}
.listeform
{
text-align:center;
}