.h1 
{
font-family:verdana;
text-align:center;
font-size:18px;
}
.p
{
text-align:center;
}
.a
{
color:red;
text-align:center;
list-style-type:none
}
.b
{
color:blue;
text-align:center;
list-style-type:none
}
.c
{
color:green;
text-align:center;
list-style-type:none